@import "tailwindcss";

:root {
  --background: #0B0F19;
  --foreground: #E5E7EB;
  --primary: #7C3AED;
  --secondary: #06B6D4;
  --accent: #F43F5E;
  --brand-green: #15803d;

}

:root[data-theme="light"] {
  --background: #FFFFFF;
  --foreground: #111111;
  --primary: #6D28D9;
  --secondary: #0891B2;
  --accent: #BE123C;
  --brand-green: #15803d;

}

html {
  background: var(--background);
  color: var(--foreground);
}
@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-up {
  animation: fadeUp 0.8s ease-out forwards;
}

